*.o
*.suo
*.db
*.pdb
*.ipch
*.idb
*.opendb
*.db-shm
*.db-wal
*.obj
*.log
*.tlog
*.res
*.cea
Release/
Debug/
build/
bins/
Backup/
Data/
obj/
*.recipe
*.exe.recipe
*.png
*.csv
*.Ink
*.ink
*.user
*.tr2
*.jpg
*.vcxproj.user
*.exe
packages/
editor/
website/
versions/
misc/
debugging and bug fixing/
net.*
.vs